body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow-y: auto !important;
    }
.colorBtn {
    background-color: #21b9f5;
    color: white;
    border-color: #0d6efd;
    border-radius: 5px;
    padding: 5px 10px; /* Ajustar el padding según sea necesario */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 3px;
    cursor: pointer;
    vertical-align: middle; /* Alineación vertical */
    line-height: 1.5; /* Ajuste de la altura de línea */
    width: 120px; /* Ajuste de ancho */
}